.left-pane {
    -fx-border-color: #000000; /* Border color */
    -fx-border-width: 2px;     /* Border width */
    -fx-border-radius: 5px;    /* Rounded corners (optional) */
    -fx-padding: 10px;         /* Padding inside the border (optional) */
}
.home {
    -fx-border-color: #3a4fd7; /* Border color */
    -fx-border-width: 0px;     /* Border width */
    -fx-border-radius: 3px;    /* Rounded corners (optional) */
    -fx-padding: 10px;         /* Padding inside the border (optional) */
}